SMTP_HOST=mail.intimix.hu
SMTP_PORT=465
SMTP_USER=info@intimix.hu
SMTP_PASS=LFqZx19p8B1234!
JWT_SECRET=intimix_mailer_jwt_secret_2026_xK9mP2
LOGIN_EMAIL=info@intimix.hu
LOGIN_PASSWORD=LFqZx19p8B1234!
IMAP_HOST=mail.intimix.hu
IMAP_PORT=993
IMAP_USER=info@intimix.hu
IMAP_PASS=LFqZx19p8B1234!
STRIPE_SECRET_KEY=sk_live_your_stripe_secret_key_here
